@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=IM+Fell+DW+Pica&display=swap');
/* font-family: 'Cantarell', sans-serif;
font-family: 'IM Fell DW Pica', serif;*/



:root { /*CORES*/
    --amarelo: #FFCF4F;
    --laranja: #FCA34E;
    --rosa: #E553B3;
    --rosa2: #e7476f;
    --azul: #4E5AFC;
    --verdeazulado: #4DF0BE;
    --brancofundo: #EEF2E9;
    
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Cantarell', sans-serif;
    background-color: #ffffff;
}

header > #principal {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 554px;

    background-color: #ffffff;
    background-image: url(midias/imagens/LO.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    color: #e7476f;

    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8em;
    margin: 9px;
    padding-top: 20px; 
}
header > p {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 2em;
    color: #1b2c11;
    text-decoration: underline;
}
nav {
    font-family: 'Cantarell', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav > a {
    color: black;
    padding: 0px 40px;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    color: rgb(14, 94, 38);
    transition-duration: 0.5s;
}



/* CONTEUDO*/



main {
    background-color: #fffffe;
}
main > h1 {
    margin: 10px;
    font-family: 'IM Fell DW Pica', serif;  
    font-size: 2em;
}
main > p {
    text-indent: 10px;
    font-size: large;
    text-align: justify;
}

.subtitulo{
    font-family: 'IM Fell DW Pica', serif;
}
.receita1 {
    padding: 40px;
    height: 100px;
    background-image: url(midias/imagens/pao_de_queijo_g.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 60px;
}
.receita1txt{
    margin: auto;
    color: #1b2c11;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
}

#receita {
    margin-bottom: 50px;
    text-align: center;
    color: #e7476f;
    font-size: 3em;
}

.receita2 {
    padding: 40px;
    height: 100px;
    background-image: url(midias/imagens/biscoito_castanha_g.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin-bottom: 60px;
}
.receita2txt {
    margin: auto;
    color: #1b2c11;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
}



footer {
    text-align: center;
    color: black;
    background-color: #e7476f59;
}

