@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=IM+Fell+DW+Pica&display=swap');
/* font-family: 'Cantarell', sans-serif;
font-family: 'IM Fell DW Pica', serif;*/



:root { /*CORES*/
    --amarelo: #FFCF4F;
    --laranja: #FCA34E;
    --rosa: #E553B3;
    --azul: #4E5AFC;
    --verdeazulado: #4DF0BE;
    
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    max-height: 100vh;
    font-family: 'Cantarell', sans-serif;
    background-color: #1b2c11;
    background-image: url(midias/imagens/geladeira_frutas.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    margin: auto;
    min-height: 220px;
    max-height: 288px;
    width: 258px;
}
header > #principal {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 4em;
    margin: 9px;
    padding-top: 20px;
}
header > p {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 2em;
    color: #1b2c11;
    text-decoration: underline;
}

nav {
    font-family: 'Cantarell', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav > a {
    color: black;
    padding: 0px 40px;
    margin: auto;
    text-decoration: none;
    font-weight: bold;

}
nav > a:hover {
    color: darkgray;
    transition-duration: 0.5s;
}


main {
    background-color: #fffffe;
    box-shadow: 0px 5px #71b94773;
    margin: auto;
    min-width: 350px;
    max-width: 700px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}
main > h1 {
    margin: 10px;
    font-family: 'IM Fell DW Pica', serif;  
    font-size: 2em;
}
main > p {
    text-indent: 10px;
    font-size: large;
    text-align: justify;
}
article {
    text-align: justify;
    padding: 9px;
}


ul {
    font-size: larger;
    list-style-position: inside;
    columns: 2;
    margin-bottom: 10px;
    list-style-type: '\1F95C';
}

footer {
    text-align: center;
    color: black;
    background-color: #71b947;
    
}

